@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Velkommen til din vagtplan</h1>
    <p class="text-start p-4">
        På denne hjemmeside har du mulighed for at oprette/rette og slette medarbejder.<br />
        Du kan også oprette/redigere eller slette opgaver.<br /><br />
        Under menupunktet Vagt, har du mulighed for at vælge en medarbejder og tildel vagt tid og opgaver til den pågældende vagt.
    </p>
    <p class="text-start p-4">
        God fornøjelse med vagtplan'en.
    </p>
</div>
